* {
  padding: 0;
  margin: 0;
  font-family: "myFirstFont";
}
.container {
  padding: 0 5rem;
}
:root {
  --green: #1d9798;
  --white: #ffffff;
  --orange: #f1b618;
}
@font-face {
  font-family: "myFirstFont";
  src: url("../Fonts/RotisSansSerifStd-Bold.otf");
}
@font-face {
  font-family: "myLightFont";
  src: url("../Fonts/RotisSansSerifStd-Light.otf");
}
@font-face {
  font-family: "myItalicFont";
  src: url("../Fonts/RotisSansSerifStd-Italic.otf");
}
.header__items,
.intro_title,
.latestNews,
.research_header button,
.facilities,
.facilities__items button,
.puplication__header button, .search_icon, .search_text{
  color: var(--white);
}

/* header Section start */
.header__items {
  background-color: var(--green);
}
.header_content {
  display: flex;
  justify-content: space-between;
}
.follow_icon {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.lang {
  font-size: 1.3rem;
  background-color: #4aacac;
  padding: 0 0.4rem;
}
.socila_icon {
  color: #fff;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.header_content a {
  text-decoration: none;
}
/* ////nav_items//// */
.nav__items {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__links li {
  display: inline-block;
  margin-left: 1rem;
}
.nav__links li a {
  text-decoration: none;
  color: var(--green);
  cursor: pointer;
}
.active {
  color: var(--orange) !important;
}
.logo {
  margin: 0.5rem auto;
}
.custom-select select {
  background-color: var(--white);
  border: none;
  color: var(--green);
  cursor: pointer;
}
.search {
  position: absolute;
    right: 0;
    background-color: var(--orange);
    padding: 1rem .5rem;
    text-align: center  ;
}
.search_text{
  background-color: var(--orange);
  font-size: .8rem;

}
/* intro Section  */
.intro_title {
  position: absolute;
  z-index: 2;
  right: 160px;
  margin-top: -12rem;
}
.intro_img img{
  height: 100%;
}
.intro_title p {
  font-family: myLightFont;
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
  font-weight: 100;
}
.intro_title h1 {
  font-size: 4rem;
}

/* latestNews Section */
.line {
  width: 15%;
  height: 5px;
  display: block;
  background-color: var(--orange);
}
.latestNews {
  background-color: var(--green);
  margin-top: -0.5rem;
  position: relative;
}
.latestNews__items {
  display: grid;
  grid-template-columns: 75% 25%;
}
.latestNews__header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 1rem 0 5rem;
}
.latestNews__header p {
  font-family: myLightFont;
  font-size: 1.7rem;
}
.latestNews__header h2 {
  font-size: 3rem;
}
.latestNews__header button {
  background-color: var(--white);
  border: none;
  margin-top: 2rem;
  padding: 0.7rem 1.8rem;
  color: var(--green);
  border-radius: 3px;
  cursor: pointer;
}
.img_covid {
  margin-top: -0.3rem;
  background-image: url(../assets/Images/image02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.covid__content {
  margin-top: 20rem;
  font-size: 2rem;
  margin-left: 2rem;
}
.covid__content p {
  font-family: myLightFont;
}

.latestNews__items_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem 0 5rem;
  /* column-gap: 1rem; */
  margin: 2.5rem auto;
}
.latestNews__items_card {
  padding: 0 0.5rem;
}
.latestNews__items_card h2 {
  /* width: 80%; */
  font-size: 1.2rem;
  margin-top: 1rem;
}
.latestNews__items_card:nth-child(2) {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.latestNews__items_card p {
  font-family: myItalicFont;
  font-weight: 100;
  opacity: 0.6;
  margin: 0.5rem 0;
}
.calender_icon {
  margin-right: 0.5rem;
  font-weight: 100;
}

/* research section */
.research {
  background-color: #f7f8fa;
}
.big_line {
  width: 25%;
  height: 5px;
  display: block;
  background-color: var(--orange);
}
.research_header {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}
.research_header h1 {
  font-size: 2.5rem;
  color: var(--green);
}
.research_header button {
  background-color: var(--orange);
  border: none;
  margin-top: 2rem;
  padding: 0.7rem 1.8rem;
  border-radius: 3px;
  cursor: pointer;
}
.research__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}
.research_img {
  float: left;
}
.reserch__item {
  background-color: var(--white);
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.reserch__item__content {
  margin-left: 1rem;
  display: inline-block;
  margin-top: 2rem;
  color: var(--green);
}
.reserch__item__content p {
  font-family: myItalicFont;
  margin: 0.5rem auto;
}
.calender_resarch_icon {
  color: var(--orange);
  margin-right: 0.5rem;
}

/* facilities section  */
.facilities {
  background-image: url(../assets/Images/FacilitiesAndResources/BG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.facilities_header {
  margin: 2rem auto;
}
.facilities_header h1 {
  font-size: 2.5rem;
}
.facilities__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}
.facilities__items button {
  background-color: var(--orange);
  border: none;
  margin-top: 2rem;
  padding: 0.7rem 1.8rem;
  border-radius: 3px;
  cursor: pointer;
}
.facilities__item_content {
  display: flex;
  justify-content: space-between;
}
.facilities__item_text {
  opacity: 0.7;
  line-height: 1.6rem;
}
.facilities__item_content p {
  margin: 1rem 0.5rem;
}
.arrow_icon {
  color: var(--orange);
}

/* publications Section  */
.puplication__header {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}
.puplication__header h1 {
  font-size: 2.5rem;
  color: var(--green);
}
.puplication__header button {
  background-color: var(--orange);
  border: none;
  padding: 0.7rem 1.8rem;
  border-radius: 3px;
  cursor: pointer;
}
.puplication_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.puplication_item {
  padding: 0 0.5rem 2rem;
  border-left: 1px solid var(--green);
  color: var(--green);
}
.puplication_item:nth-child(1){
  border-left: none;
}
/* .puplication_item h2{
font-size: 1rem;} */
  
/* bio section  */
.bio {
  background-image: url(../assets/Images/Bio/Bg.jpg);
}
