* {
  padding: 0;
  margin: 0;
  font-family: "myFirstFont";
}
.container {
  padding: 0 5rem;
}
:root {
  --green: #1d9798;
  --white: #ffffff;
  --orange: #f1b618;
}
@font-face {
  font-family: "myFirstFont";
  src: url("../Fonts/RotisSansSerifStd-Bold.otf");
}
@font-face {
  font-family: "myLightFont";
  src: url("../Fonts/RotisSansSerifStd-Light.otf");
}
@font-face {
  font-family: "myItalicFont";
  src: url("../Fonts/RotisSansSerifStd-Italic.otf");
}

/* header Section start */
.header__items {
  background-color: var(--green);
  color: var(--white);
}
.header_content {
  display: flex;
  justify-content: space-between;
}
.follow_icon {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.lang {
  font-size: 1.3rem;
  background-color: #4aacac;
  padding: 0 0.4rem;
}
.socila_icon {
  color: #fff;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.header_content a {
  text-decoration: none;
}
/* ////nav_items//// */
.nav__items {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__links li {
  display: inline-block;
  margin-left: 1rem;
}
.nav__links li a {
  text-decoration: none;
  color: var(--green);
  cursor: pointer;
}
.active {
  color: var(--orange) !important;
}
.logo {
  margin: 0.5rem auto;
}
.custom-select select {
  border: none;
  color: var(--green);
  cursor: pointer;
}

/* intro Section  */
.intro_title {
  position: absolute;
  /* left: 0; */
  /* top: 350px; */
  z-index: 11111;
  /* float: right; */
  right: 160px;
  margin-top: -12rem;
  color: var(--white);
}
.intro_title p {
  font-family: myLightFont;
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
  font-weight: 100;
}
.intro_title h1 {
  font-size: 4rem;
}

/* latestNews Section */
.line {
  width: 15%;
  height: 5px;
  display: block;
  background-color: var(--orange);
}
.latestNews {
  background-color: var(--green);
  margin-top: -0.3rem;
  color: var(--white);
}
.latestNews__items {
  display: grid;
  grid-template-columns: 75% 25%;
}
.latestNews__header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 1rem 0 5rem;
}
.latestNews__header p {
  font-family: myLightFont;
  font-size: 1.7rem;
}
.latestNews__header h2 {
  font-size: 3rem;
}
.latestNews__header button {
  background-color: var(--white);
  border: none;
  margin-top: 2rem;
  padding: 0.7rem 1.8rem;
  color: var(--green);
  border-radius: 3px;
  cursor: pointer;
}
.img_covid {
  margin-top: -0.3rem;
  background-image: url(../assets/Images/image02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.covid__content {
  margin-top: 20rem;
  font-size: 2rem;
  margin-left: 2rem;
}
.covid__content p {
  font-family: myLightFont;
}

.latestNews__items_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem 0 5rem;
  /* column-gap: 1rem; */
  margin-top: 2.5rem;
}
.latestNews__items_card {
  padding: 0 0.5rem;
}
.latestNews__items_card h2 {
  /* width: 80%; */
  font-size: 1.2rem;
  margin-top: 1rem;
}
.latestNews__items_card:nth-child(2) {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.latestNews__items_card p {
  font-family: myItalicFont;
  font-weight: 100;
  opacity: 0.6;
  margin: 0.5rem 0;
}
.calender_icon {
  margin-right: 0.5rem;
  font-weight: 100;
}
